<div class="row">
  <div class="col-8">
    <div class="d-flex align-items-center justify-content-start">
      <h1><%= @article.title %></h1>
      <div>
        <%= link_to :edit_article do %>
          <i class="fa fa-pencil"></i>
        <% end %>
        <%= link_to article_path(@article),
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
         <i class="fas fa-trash"></i>
        <% end %>
      </div>
    </div>
    <hr>
    <%= @article.content %>
  </div>
</div>

